.features {
    background-color: $mainBlue;
    padding-top: 9rem; // 144px

    &-container {
        max-width: 56.25rem; // 900px
        margin: 0 auto;

        @include breakpoint(medium) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
            padding-top: 7rem; // 112px
        }

        @include breakpoint(large) {
            padding-top: 0px;
        }
    }
}

.feature {
    border: 1px solid firebrick;
    text-align: center;

    &-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5rem;
        margin-bottom: 1rem;
    }

    &-title{
        font-family: $font-title;
        font-size: 0.62em;
        font-weight: 700;
    }

    &-text {
        font-size: 0.58em;

    }
}
