.features {
    background-color: $mainBlue;
    position: relative;
    margin: 0px 0px 0px 0px;
    padding: 16rem 0px 0px 0px;
    height: 175vh;


    &-container {
        position: absolute;
        z-index: 0;
        background-color: $mainBlue;
        height: 170vh;
        display: grid;
        grid-template-columns: 1fr; 
        row-gap: 2rem; 
        padding-top: 22.6rem;
        top: -13.6rem;


        @include breakpoint(medium) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 3rem;
            padding-top: 7rem;
            padding-bottom: 3rem;
        }

        @include breakpoint(large) {
            padding-top: 0px;
        }
    }
}

.feature {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;


    &-icon {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 85%;
            margin-bottom: 1.6rem;
            padding: 1rem;
        }
    }

    &-title{
        font-family: $font-title;
        font-size: 0.84em;
        font-weight: 700;
        color: hsla(0, 0%, 90%, 0.8);

            @include breakpoint(large) {
                font-size: 4em;
            }
    }

    &-text {
        font-size: 0.8em;
        font-weight: 400;

        &:after {
            padding: 0 1.2rem;
        }
    }

    h4 {
        margin: 0;
        padding: 0 1rem 0.75rem;
    }

    p {
        margin: 0;
        padding: 0 1.8rem;
    }
}


