.features {
    padding: 0 0 4rem;
}

.feature {
    text-align: center;
    margin-bottom: 6rem;
    //border: 1px solid yellow;
}

.features__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    img {
        width: 85%;
    }
    //border: 1px solid firebrick;
}

.features__heading {
    h3 {
        margin: 0;
        padding: 2rem 0 0;
    }
    //border: 1px solid hotpink;
}

.features__text {
    padding: 0 1.75rem;
    p {
        margin: 0;
        padding: 0.75rem 0 0;
    }
    //border: 1px solid blue;
}


