.features {
    background-color: $mainBlue;
    padding-top: 9rem; // 144px

    &-container {
        max-width: 50rem; // 800px
        margin: 0 auto;

        @include breakpoint(medium) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding-top: 7rem; // 112px
        }

        @include breakpoint(large) {
            padding-top: 0px;
        }
    }
}

.feature {
    border: 1px solid firebrick;
}
