
footer {
    padding-top: 0.9375rem; // 15px
    margin-bottom: 0;
    text-align: center;
    background-color: $footerBlue;
    font-family: $font-title;

    a {
        color: coral;

        .alt-color {
            color: royalblue;
        }

        &:hover {
            color: grey;

            .alt-color {
                color: grey;
            }
        }
    }
}
