footer {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 16.5rem 0 0 0;
    background-color: $footerBlue;
    //border: 1px solid tomato;
}

.footer-logo {
    padding: 0 0 0 2.5rem;
}

.footer__logo {
    height: 3.75rem;
    //border: 1px solid fuchsia;
}
/*
.location__icon {

}
*/
.contact-fylo {
    padding: 0 0 0 2rem;
}

.footer-location {
    display: grid;
    grid-template-columns: 1fr 14fr;
    padding-top: 1.75rem;
    //border: 1px solid peru;
    
}

.location-icon {
    padding-top: 0.1rem;
    padding-right: 1.5rem;
}

.location-directions{
    margin: 0;
    padding: 0 1.5rem 0 2.5rem;
    //border: 1px solid navy;
}
.location__directions {
    margin: 0;
    padding: 0;
}

.footer-phone {
    display: grid;
    grid-template-columns: 1fr 14fr;
    padding-top: 1rem;
}

.phone-icon {
    padding-top: 0.1rem;
    padding-right: 1.5rem;
}

.phone-number {
    margin: 0;
    padding: 0 0 0 2.5rem;
    //border: 1px solid navy;
}

.phone__number {
    margin: 0;
    padding: 0;
}

.footer-email {
    display: grid;
    grid-template-columns: 1fr 14fr;
    padding-top: 1rem;
}

.email-icon {
    padding-top: 0.1rem;
    padding-right: 1.5rem;
}

.email-address {
    margin: 0;
    padding: 0 0 0 2.5rem;
    //border: 1px solid navy;
}

.email__address {
    margin: 0;
    padding: 0;
}

.footer-links {
    padding: 6rem 0 0 2.5rem;
    font-size: 1.25em;
}

.links-current {
    display: grid;
    grid-template-columns: 1fr;
}

.footer__link:not(first-child) {
    padding: 1rem 0 0 0;
}

.links-info {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2.5rem 0 0 0;
}

.social-icons {
    padding: 6rem 0 2rem;
    text-align: center;

    > * {
        padding: 0 0.25rem;

        ion-icon {
            color: white;
        }
    }
}

.attribution { 
    margin: 0;
    padding: 0;
    font-size: 0.6875rem; // 11px 
    text-align: center;
    height: max-content;
    background-color: rgb(37, 41, 41);
    
    a { 
        font-size: 1em;
        color: hsl(228, 45%, 44%); 
        text-decoration: none;

        &:hover {
            color: blue;
        }
    }
}
    