
footer {
    padding-top: 0.9375rem; // 15px
    margin-bottom: 0;
    background-color: $footerBlue;
    font-family: $font-title;
    height: 25rem; // 400px
    display: flex;
    flex-direction: column;

    a {

    }
}

