html {
    // Allow user to control zoom levels in own browser
    font-size: 100%;
    // Size of elements includes padding in final width
    box-sizing: border-box;
}

// Above box sizing to apply to all elements and states
*, *::before, *::after {
    box-sizing: inherit;
}

body {

    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-family: $font-body; // Open Sans
    // Base font size plus fluid responsiveness
    font-size: calc(16px + 0.3vw); // 16px
}

// Font colour for all and link tags
*, a {
    color: hsl(0, 0%, 95%);
}

// No decoration for all link tag elements in all states
a, a:visited, a:hover {
    text-decoration: none;
}

h1, h2, h3 {
    font-family: $font-title; // Raleway
}
