html { // allows user to control zoom in own browser 
    font-size: 100%;
}

*, *:after, *:before { // applies to all elements in all states 
    box-sizing: border-box; // includes padding in width as size changes
}

* { // Universal font colour 
    color: white;
}

a { // Font colour and remove underline 
    color: white;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-body; // Open Sans 
    font-size: calc(1rem + 0.75vw); // 16px is the base
    line-height: 1.5; // spacing between lines on screen
}

h1, h2, h3, h4 { // Raleway font 
    font-family: $font-title;
}

h1 { // 28px 
    font-size: 1.75em; 
}

h2 { // 24px 
    font-size: 1.5em; 
}

h3 {  // 22px 
    font-size: 1.375em;
}

h4 { // 20px 
    font-size: 1.25em; 
}

section { // padding 0 30px 160px
    padding: 0 1.875rem 10rem;
}

button {
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, $greenCyan, $lightBlue);
    font-size: 0.9375em; // 15px
    font-family: $font-title;
    font-weight: 700;
    padding: 1.25rem 6.875rem; // 20px 110px
    border-radius: 1.875rem; // 30px

    &:hover {
        background: linear-gradient(to left, $greenCyan, $lightBlue);
    }

    @include breakpoint(large) {
        padding: 0.9375rem 5rem; // 15px 80px
    }
}
