html {
    font-size: 100%; // allows user to control zoom in own browser
}

*, *:after, *:before { // applies to all elements in all states
    box-sizing: border-box; // includes padding in width as size changes
}

body {
    font-size: calc(1rem + 0.3vw); // 16px base
    line-height: 1.3; // spacing between lines on screen
    background-color: white;
}
