header {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) repeat(3, auto);
    align-items: center;
    background-color: $introBlue;
    padding: 1.5625rem 1.25rem 3.125rem 1.25rem; // 25px 20px 50px 20px
    font-family: $font-title; // Raleway

    .header__links {
        a:not(last-child) {
            padding-right: 20px; // 56px
        }
    }

    img {
        width: 5.1875rem; // 83px

        @include breakpoint(large) {
            width: 185px;
        }
    }

    a {
        font-size: 0.875rem; // 14px
        color: hsla(0, 0% 90%, 0.9);

        @include breakpoint(large) {
            font-size: 16px; // 16px
            grid-gap: 56px;
        }
    }

    
    @include breakpoint(large) { // Larger than 1023px
        padding: 4.5625rem 5rem; // 73px 80px
        font-size: 16px; // 16px

        .header__links {
            a:not(last-child) {
                padding-right: 56px;
            }
        }
    }
}


