.header {

    &-container {

        // Mobile (small) is default
        background-color: $introBlue;
        display: grid;
        grid-template-columns: minmax(100px, 1fr) repeat(3, auto);
        gap: 2.5rem; // 40px
        align-items: center;
        padding: 1.875rem 1.875rem 3.75rem 1.875rem; // 30px 30px 60px 30px

        @include breakpoint(large) {
            gap: 3.5rem; // 56px
            padding: 4rem 3.5rem; // 72px 80px
        }

        img {
            // Small
            width: 5.125rem; // 82px

            @include breakpoint(medium) {
                width: 8.125rem; // 130px
            }
            
            @include breakpoint(large) {
                width: 11.25rem; // 180px
            }

            @include breakpoint(xlarge) {
                width: 13.125rem; // 210px
            }
        }

        a {
            // Small
            font-size: 0.8125em; // 13px

            &:hover {
                color: $paleRed;
            }

            @include breakpoint(medium) {
                font-size: 0.9375em; // 15px
            }

            @include breakpoint(large) {
                font-size: 1em; // 16px for large and xlarge
            }
        }
    }
}
