header {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) repeat(3, auto);
    background-color: $introBlue;

    &__links {
        &:not(last-child) {
            padding: 56px;
        }
        }
}
