.hero {
    
    // Every direct child
    > * {
        text-align: center;
        position: relative;
        z-index: 1;
    }

    position: relative;
    background-color: $introBlue;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:after {
        content: '';
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 75vw;
        bottom: 0rem;
        background-image: url('/images/bg-curvy-mobile.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom center;

        @include breakpoint(medium) {
            background-image: url('/images/bg-curvy-desktop.svg');
            height: 55vw;
        }
    }

    img {
        width: 100%;
        max-width: 44.75rem; // 716px
    }

    h1 {
        max-width: 44.75rem; // 716px
        line-height: 1.4;
        margin: 1em 0.5em;
    }

    p {
        max-width: 37.5rem; // 600px
        margin: 0 0.7em;
        padding: 0 0.7rem;
        font-size: 1.125rem; // 18px
    }
}
