// Section 1
.intro-images {
    img {
        width: 100%;
        display: block;
    }
    background-color: $introBlue;
    //border: 1px solid lawngreen;   
}

.intro-picture,
.intro-graphic {
    background: transparent;
    //width: min-content;
}

.intro-picture {
    padding: 0 2.5rem;
    //background-color: $introBlue;
}

.intro-graphic {
    //background-color: $introBlue;
}

.intro__pic {
    position: relative;
    z-index: 2;
    top: 2rem;
    position: relative;
    //border: 1px solid magenta;
}

.intro__bg {
    position: relative;
    z-index: 0;
    //border: 2px solid blue;
}

.intro-heading {
    text-align: center;
    //border: 1px solid blue;
}

.intro__heading {
    position: relative;
    z-index: 1;
    bottom: 6rem;
    //border: 1px solid white;
}

.intro-content {
    position: relative;
    background-color: $mainBlue;
    text-align: center;
    bottom: 7.5rem;
    //border: 1px solid firebrick;
}

.intro__text {
    padding: 0 2.5rem 1.5rem;
}

