// Section 1
.content-grid {
    width: max-content;
    //border:  5px solid hotpink;
}
.intro-container {
    background-color: $introBlue;
    //border: 3px solid blue;
}
img {
    max-width: 100%;
    display: block;
}
h1 {
    padding: 0 1.69rem;
    margin: 0;
    //border: 2px solid rgb(15, 208, 238);
}
.intro-picture { 
    z-index: 2;
    top: 2.25rem;
    text-align: center;
    //border: 3px solid yellow;
    img {
        padding: 0 2.5rem;
        width: 24.375rem;
        //border: 2px solid teal;
    }
}
.intro-blend {
    z-index: 1;
    width: 24.375rem;
    bottom: 0;
    //border: 5px solid red;
    img {
        z-index: 3;
        width: 24.375rem;
        //border: 2px solid white;
    }
}
.intro-picture,
.intro-blend {
    position: relative;
    width: min-content;
}
.intro-picture > *:not(.intro__pic),
.intro-blend > *:not(.intro__bg) {
    position: absolute;
}
.intro__heading {
    font-size: 0.85rem;
    bottom: 0;
    left: 0;
}
.intro__heading > * {
    text-align: center;
    width: 24.375rem;
    //border: 2px solid rgb(49, 246, 27);
}
.intro__bg,
.intro__pic {
    max-width: revert;
}

