.location {
    background-color: $mainBlue;

    &-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3.125rem; // 50px
        max-width: 31.25rem; // 500px
        margin: 0 auto;


        @include breakpoint(large) {
            grid-template-columns: repeat(2, 1fr);
            max-width: none;
        }
    }

    &-image {
        text-align: center;

        img {
            width: 100%;
        }
    }

    &-text {

        @include breakpoint(large) {
            padding-right: 4rem; // 64px
        }

        h3 {

            @include breakpoint(large) {
                max-width: 25rem; // 400px
            }
        }

        p {
            font-size: 1rem; // 16rem
        }
    }
}
