.location {
    background-color: $mainBlue;

    &-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3.125rem; // 50px

        @include breakpoint(large) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &-image {
        text-align: center;
    }

    &-text {
        padding-right: 2rem; // 32px

        h3 {

            @include breakpoint(large) {
                max-width: 20rem; // 400px
            }
        }

        p {
            font-size: 1rem; // 16rem
        }
    }
}
