.showcase__image {
    img {
        width: 100%;
    }
}

.showcase__heading {
    h3 {
        margin-top: 2rem;
        //border: 1px solid purple;
    }
}

.showcase__text {
    p {
        line-height: 1.4;
    }
}

.showcase__link {
    width: max-content;
    align-items: center;
    font-size: 1.25em;
    color: $greenCyan;
    width: max-content;
    a {
        display: grid;
        grid-template-columns: 4fr 1fr;
        width: max-content;
        //border: 1px solid gold;
    }    
    p {
        margin: 0;
        padding: 0 0.5rem 0 0;
        width: max-content;
        border-bottom: 1px solid $greenCyan;
        //border: 1px solid violet;
    }
    img {
        margin: 0;
        width: max-content;
        padding: 0.25rem 0 0.1rem 0;
        border-bottom: 1px solid $greenCyan;
        //border: 1px solid blueviolet;
    }
}
