.sign-up {
    background-color: $introBlue;
    height: 350px;
    width: 50%;
    border-radius: 10px;
}

.feedback-container {

    text-align: center;
    padding: 25px 25px 20px 25px;

    p {
        padding-bottom: 15px;
    }

    button {
        font-size: 0.875rem; // 14px
        padding: 1.25rem 1.5625rem; // 20px 25px

    }
}
