.signup {
    padding: 1.5rem;
}
.signup-container {
    position: relative;
    z-index: 2;
    bottom: -14rem;
    padding: 1.5rem 0.25rem 2.5rem;
    border-radius: 0.5rem;
    background-color: $introBlue;
    box-shadow: 5px 5px hsla(0, 0%, 9%, 0.2);
    text-align: center;
    //border: 1px solid aqua;
}

.signup__heading {
    //font-size: 1.15625em;
}

.signup-text {
    padding-bottom: 1rem;

    p {
        font-size: 0.8em;
    }
}

.signup__textarea {
    width: 92%;
    height: 3.5rem;
    margin-bottom: 2rem;
    border-radius: 1.75rem;
    border: none;
    padding-left: 1.5rem;
    color: grey;
}
