.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.feedback-container {
    background-color: $introBlue;
    height: 16.875rem; // 270px
    width: 80%;
    border-radius: 0.625rem; // 10px
    box-shadow: 0 0.625rem 1rem rgba(0, 0, 0, 0.2); // 16px

    text-align: center;
    padding: 0.9375rem; // 15px

    position: absolute;

    h5 {
        margin-top: 0.9375rem; // 15px
    }

    p {
        padding-bottom: 0.9375rem; // 15px
    }

    button {
        margin-top: 0px;
        font-size: 0.8125rem; // 13px
        padding: 1.25rem 1.5625rem; // 20px 25px

    }
}

.form {
    height: 3.75rem; // 60px
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    gap: 15px;
}

.text-area {
    box-shadow: none;
    font-size: 0.8125rem; // 13px
    color: grey;
    height: 3.75rem; // 60px
    border-radius: 2.1875rem; // 35px
    padding-left: 2rem; // 32px
}
