.signup {
    padding: 1.5rem;
}
.signup-container {
    padding: 1.5rem 1rem 1rem;
    border-radius: 0.375rem;
    background-color: $introBlue;
    text-align: center;
    //border: 1px solid aqua;
}
