.testimonials {

    //
    > * {
        position: relative; 
        z-index: 1;
    }

    padding-bottom: 9.375rem; // 150px
    position: relative;

    &:after {
        content: '';
        position: absolute;
        z-index: 0;
        background-image: url('/images/bg-quotes.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top left;
    }

    background-color: $mainBlue;

    &-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.9375rem; // 15px
        margin: 0px;
        padding: 0px 5.625rem; // 90px

        @include breakpoint(medium) {
            padding: 0px 3.125rem; // 50px
        }
        
        @include breakpoint(large) {
            padding: 0px 4.375rem; // 70px
            grid-template-columns: repeat(3, 1fr);
            gap: 2.1875rem; // 35px
        }
    }

    &-graphic {
        top: 1rem;

        img {
            padding-left: 1.5rem; // 24px
        }

        @include breakpoint(large) {
            padding-left: 2.5rem; // 40px
        }
    }
}

.testimonial {

    background-color: $testimBlue;
    padding: 1.375rem 1.125rem 1.25rem 1rem; // 22px 18px 20px 16px
    width: 100%;
    border-radius: 0.25rem; // 4px

    &-text {
        
        p {
            font-size: 0.9375rem; // 15px
        }
    }

    &-image {

        img {
            border-radius: 50%;
            height: 1.875rem; // 30px
        }
    }

    &-name {

        p {
            font-size: 0.75rem; // 12px
            font-weight: 700;
            margin: 0px;
            padding: 0px;
            padding-bottom: 0.125rem; // 2px
        }
    }

    &-title {
        
        p {
            font-size: 0.6825rem; // 11px
            margin: 0px;
            padding: 0px;
        }
    }
}

.profile-container {
    display: grid;
    grid-template-columns: 1fr 9fr;   
}

.profile-right {
    padding-left: 0.125rem; // 2px
    font-family: $font-title;
}
