.testimonials-container {
    position: relative;
    padding: 0 3rem 9rem;

    img {
        width: 50%;
        //border: 1px solid mediumvioletred;
    }
    //border: 1px solid blue;
}

.testimonial__graphic {
    position: absolute;
    top: -1rem;
    left: 2.6rem;
}

.testimonial-box {
    margin: 1rem 0 2rem;
    //border: 1px solid lightseagreen;
}

.testimonial {
    position: relative;
    z-index: 2;
    margin-bottom: 1.5rem;
    background-color: $testimBlue;
    padding: 1rem 2rem 0.75rem;
    border-radius: 0.325rem;

    img {
        width: 1.75rem;
        border-radius: 50%;
    }

    //border: 1px solid darkred;
}

.testimonial__text {
    padding: 0 ;
    font-size: 0.68rem;
    line-height: 2;
    //border: 1px solid saddlebrown;
}

.testimonial-person {
    display: grid;
    grid-template-columns: 1fr 6fr;
    height: max-content;
    //border: 3px solid goldenrod;
}

.person-image {
    padding-top: 0.25rem;

    img {
        border-radius: 50%;
    }
}

.person__name {
    margin: 0.2rem 0;
    padding: 0;
    width: max-content;
    font-size: 0.55em;
    font-weight: 700;
    //border: 1px solid blueviolet;
}

.person__title {
    margin: 0;
    padding: 0;
    width: max-content;
    font-size: 0.44em;
    //border: 1px solid yellowgreen;
}
