.testimonials {

    background-color: $mainBlue;

    .testimonial-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        margin: 0;
        padding: 0 70px 0 70px;

        @include breakpoint(medium) {
            grid-template-columns: repeat(3, 1fr);
            gap: 25px;
        }
        @include breakpoint(large) {
            grid-template-columns: repeat(3, 1fr);
            gap: 35px;
        }
    }


    &-graphic {

    }
}

.testimonial {

    background-color: $testimBlue;
    padding: 22px 18px;
    width: 100%;
    border-radius: 4px;

    &-text {
        
        p {
            font-size: 0.8125rem; // 13px
        }
    }

    &-image {

        img {
            border-radius: 50%;
            height: 30px;
        }
    }

    &-name {

        p {
            font-size: 0.625rem; // 10px
            font-weight: 700;
        }
    }

    &-title {
        
        p {
            font-size: 0.625rem; // 10px
        }
    }
}

.profile {
    display: grid;
    grid-template-columns: 1fr 5fr;
}
