.testimonials {

    background-color: $mainBlue;

    .testimonial-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5vw;
        max-width: 575px;
        margin: 0 auto;
        padding: 0 auto;
        justify-content: center;

        @include breakpoint(medium) {
            grid-template-columns: repeat(3, 1fr);
            gap: 3.5vw;
        }
    }
}

.testimonial {

    background-color: $testimBlue;
    width: 300px;
    height: 200px;

    &-text {
    
        &:not(last-child) {
            //padding-right: 4rem;
        }
    }

    &-graphic {

    }

    &-image {
        height: 20px;
    }

    &-name {

    }

    &-title {

    }
}

