// Colours
$introBlue: hsl(217, 28%, 15%); // intro and email sign up background
$mainBlue: hsl(218, 28%, 13%); // main background
$footerBlue: hsl(216, 53%, 9%); // footer background
$testimBlue: hsl(219, 30%, 18%); // testimonials background
$greenCyan: hsl(176, 68%, 64%); // inside call-to-action gradient
$lightBlue: hsl(198, 60%, 50%); // inside call-to-action gradient
$lightRed: hsl(0, 100%, 63%); // error
$paleRed: hsl(340, 57%, 64%); // hover colour

// Fonts 
$font-title: 'Raleway', sans-serif;
$font-body: 'Open Sans', sans-serif;
$fa-font-path: "./webfonts";

// Breakpoints 
@mixin breakpoint($size) {
    
    $breakpoints: ( // map
        small: 31.1875rem, // 499px
        medium: 43.6875rem, // 699px
        large: 62.4375rem, // 999px
        xlarge: 87.4375rem // 1399px
    );

    $breakpoint-value: map-get($map: $breakpoints, $key: $size);

    @media screen and (min-width: $breakpoint-value) {
        @content;        
    }
}
