// Fonts 
$font-title: Raleway, sans-serif;
$font-body: 'Open Sans', sans-serif;

// Colours
// Dark blue colour for intro and email sign up background
$darkBlue1: hsl(217, 28%, 15%);
// Dark blue colour for main background
$darkBlue2: hsl(218, 28%, 13%);
// Dark blue colour for footer background
$darkBlue3: hsl(216, 53%, 9%);
// Dark blue colour for testimonials background
$darkBlue4: hsl(219, 30%, 18%);
