// Fonts 
$font-title: Raleway, sans-serif;
$font-body: 'Open Sans', sans-serif;

// Colours
// Primary
// Dark blue colour for main background
$mainBlue: hsl(218, 28%, 13%);
// Dark blue colour for intro and email sign up background
$introBlue: hsl(217, 28%, 15%);
// Dark blue colour for footer background
$footerBlue: hsl(216, 53%, 9%);
// Dark blue colour for testimonials background
$testimBlue: hsl(219, 30%, 18%);

// Accent
// Cyan colour for inside call-to-action gradient
$ctaCyan: hsl(176, 68%, 64%);
// Blue colour for inside call-to-action gradient 
$ctaBlue: hsl(198, 60%, 50%);

// Breakpoints
@mixin breakpoint($size) {
    $breakpoint-value: map-get($breakpoints, $size);

    @media screen and (min-width: $breakpoint-value) {
        @content;
    }
}
