html {
  font-size: 100%;
}

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font-size: calc(1rem + 0.3vw);
  line-height: 1.3;
}

header {
  background-color: white;
  display: grid;
  grid-template-columns: minmax(100px, 1fr) repeat(3, 1fr);
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228deg, 45%, 44%);
  text-decoration: none;
}