html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: "Open Sans", sans-serif;
  font-size: calc(16px + 0.3vw);
}

*, a {
  color: hsl(0deg, 0%, 99%);
}

a, a:visited, a:hover {
  text-decoration: none;
}

header {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) repeat(3, auto);
  grid-auto-columns: 156px;
  background-color: hsl(217deg, 28%, 15%);
}