html {
  font-size: 100%;
}

*, *:after, *:before {
  box-sizing: border-box;
}

* {
  color: hsl(0deg, 0%, 100%);
}

body {
  margin: 0;
  padding: 0;
  background-color: hsl(218deg, 28%, 13%);
  font-family: "Open Sans", sans-serif;
  font-size: calc(1rem + 0.75vw);
  line-height: 1.5;
}

a, p {
  font-size: 1em;
  color: hsla(0deg, 0%, 95%, 0.9);
  text-decoration: none;
}

a {
  font-family: "Raleway", sans-serif;
}

p {
  padding: 0 2rem;
  font-family: "Open Sans", sans-serif;
  font-size: 0.825em;
}

h1, h2, h3, h4 {
  padding: 0 2rem;
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 1.295em;
}

h2 {
  font-size: 1.15625em;
}

h3 {
  font-size: 1.0175em;
}

button {
  cursor: pointer;
  border: none;
  background: linear-gradient(to right, hsl(176deg, 68%, 64%), hsl(198deg, 60%, 50%));
  font-size: 0.8em;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding: 1.05rem 5.875rem;
  border-radius: 1.875rem;
  color: hsl(0deg, 0%, 95%);
}
button:hover {
  background: linear-gradient(to left, hsl(176deg, 68%, 64%), hsl(198deg, 60%, 50%));
}

.header {
  background-color: hsl(217deg, 28%, 15%);
}

.header-container {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) repeat(3, auto);
  gap: 1.5rem;
  align-items: center;
  padding: 1.5rem 1.875rem 1rem 1rem;
}
.header-container img {
  cursor: pointer;
  min-width: 4.75rem;
  max-width: 5.5rem;
}

a {
  font-size: 0.7em;
  color: hsla(0deg, 0%, 100%, 0.85);
  transition: color 200ms ease-in-out;
}
a:hover {
  color: hsl(340deg, 57%, 64%);
}

.intro-images {
  background-color: hsl(217deg, 28%, 15%);
}
.intro-images img {
  width: 100%;
  display: block;
}

.intro-picture,
.intro-graphic {
  background: transparent;
}

.intro-picture {
  padding: 0 2.5rem;
}

.intro__pic {
  position: relative;
  z-index: 2;
  top: 2rem;
  position: relative;
}

.intro__bg {
  position: relative;
  z-index: 0;
}

.intro-heading {
  text-align: center;
}

.intro__heading {
  position: relative;
  z-index: 1;
  bottom: 6rem;
}

.intro-content {
  position: relative;
  background-color: hsl(218deg, 28%, 13%);
  text-align: center;
  bottom: 7.5rem;
}

.intro__text {
  padding: 0 2.5rem 1.5rem;
}

.features {
  padding: 0 0 4rem;
}

.feature {
  text-align: center;
  margin-bottom: 6rem;
}

.features__icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}
.features__icon img {
  width: 85%;
}

.features__heading h3 {
  margin: 0;
  padding: 2rem 0 0;
}

.features__text {
  padding: 0 1.75rem;
}
.features__text p {
  margin: 0;
  padding: 0.75rem 0 0;
}

.showcase {
  padding: 0 2rem 10rem;
}

.showcase__image {
  padding: 0 0.5rem;
}
.showcase__image img {
  width: 100%;
}

.showcase__heading h3 {
  padding: 0;
  margin-top: 2rem;
}

.showcase__text p {
  padding: 0;
  line-height: 1.4;
}

.showcase__link {
  width: max-content;
  align-items: center;
  font-size: 1.25em;
  width: max-content;
}
.showcase__link a {
  display: grid;
  grid-template-columns: 4fr 1fr;
  width: max-content;
}
.showcase__link p {
  margin: 0;
  padding: 0 0.5rem 0.2rem 0;
  width: max-content;
  color: hsl(176deg, 68%, 64%);
  border-bottom: 2px solid hsl(176deg, 68%, 64%);
}
.showcase__link img {
  margin: 0;
  width: max-content;
  padding: 0.25rem 0 0.3rem 0;
  border-bottom: 2px solid hsl(176deg, 68%, 64%);
}

.testimonials-container {
  position: relative;
  padding: 0 3rem;
}

.testimonial__graphic {
  position: absolute;
  top: -1rem;
  left: 2.6rem;
  width: 7.5%;
}

.testimonial-box {
  margin: 1rem 0 2rem;
}

.testimonial {
  position: relative;
  z-index: 2;
  margin-bottom: 1.5rem;
  background-color: hsl(219deg, 30%, 18%);
  padding: 1rem 2rem 0.75rem;
  border-radius: 0.325rem;
}

.testimonial__text {
  padding: 0;
  font-size: 0.68rem;
  line-height: 2;
}

.testimonial-person {
  display: grid;
  grid-template-columns: 1fr 9fr;
  height: max-content;
}

.person-image {
  width: 3.5rem;
  padding-top: 0.5rem;
}
.person-image img {
  width: 1.75rem;
}

.person__image {
  border-radius: 50%;
}

.person__name {
  margin: 0.2rem 0;
  padding: 0;
  width: max-content;
  font-size: 0.6em;
  font-weight: 700;
}

.person__title {
  margin: 0;
  padding: 0;
  width: max-content;
  font-size: 0.5em;
}

.signup {
  padding: 1.5rem;
  height: 21.5rem;
}

.signup-container {
  position: relative;
  z-index: 2;
  bottom: -7rem;
  padding: 1.5rem 0.25rem 2.5rem;
  border-radius: 0.5rem;
  background-color: hsl(217deg, 28%, 15%);
  box-shadow: 0.4rem 0.45rem hsla(0deg, 0%, 0%, 0.075);
  text-align: center;
}

.signup-text {
  padding-bottom: 1rem;
}
.signup-text p {
  font-size: 0.8em;
}

.signup__textarea {
  width: 92%;
  height: 3.5rem;
  margin-bottom: 2rem;
  border-radius: 1.75rem;
  border: none;
  padding-left: 1.5rem;
  color: grey;
}

footer {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 16.5rem 0 0 0;
  background-color: hsl(216deg, 53%, 9%);
}

.footer-logo {
  padding: 0 0 0 2.5rem;
}

.footer__logo {
  height: 3.75rem;
}

/*
.location__icon {

}
*/
.contact-fylo {
  padding: 0 0 0 2rem;
}

.footer-location {
  display: grid;
  grid-template-columns: 1fr 14fr;
  padding-top: 1.75rem;
}

.location-icon {
  padding-top: 0.1rem;
  padding-right: 1.5rem;
}

.location-directions {
  margin: 0;
  padding: 0 2.5rem 0 0;
}

.location__directions {
  margin: 0;
  padding: 0;
}

.footer-phone {
  display: grid;
  grid-template-columns: 1fr 14fr;
  padding-top: 1rem;
}

.phone-icon {
  padding-top: 0.1rem;
  padding-right: 1.5rem;
}

.phone-number {
  margin: 0;
  padding: 0 0 0 2.5rem;
}

.phone__number {
  margin: 0;
  padding: 0;
}

.footer-email {
  display: grid;
  grid-template-columns: 1fr 14fr;
  padding-top: 1rem;
}

.email-icon {
  padding-top: 0.1rem;
  padding-right: 1.5rem;
}

.email-address {
  margin: 0;
  padding: 0 0 0 2.5rem;
}

.email__address {
  margin: 0;
  padding: 0;
}

.footer-links {
  padding: 6rem 0 0 2.5rem;
  font-size: 1.25em;
}

.links-current {
  display: grid;
  grid-template-columns: 1fr;
}

.footer__link:not(first-child) {
  padding: 1.5rem 0 0 0;
}

.links-info {
  display: grid;
  grid-template-columns: 1fr;
  padding: 6rem 0 0 0;
}

.social-icons {
  padding: 6rem 0 0 0;
  text-align: center;
}

.attribution {
  margin: 0;
  padding: 0;
  font-size: 0.6875rem;
  text-align: center;
  height: max-content;
  background-color: rgb(37, 41, 41);
}
.attribution a {
  font-size: 1em;
  color: hsl(228deg, 45%, 44%);
  text-decoration: none;
}
.attribution a:hover {
  color: hsl(340deg, 57%, 64%);
}