html {
  font-size: 100%;
}

*, *:after, *:before {
  box-sizing: border-box;
}

* {
  color: hsl(0deg, 0%, 100%);
}

body {
  margin: 0;
  padding: 0;
  background-color: hsl(218deg, 28%, 13%);
  font-family: "Open Sans", sans-serif;
  font-size: calc(1rem + 0.75vw);
  line-height: 1.5;
}

a, p {
  font-size: 1em;
  color: hsla(0deg, 0%, 95%, 0.9);
  text-decoration: none;
}

a {
  font-family: "Raleway", sans-serif;
}

p {
  padding: 0 2rem;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4 {
  padding: 0 2rem;
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.375em;
}

h4 {
  font-size: 1.25em;
}

button {
  cursor: pointer;
  border: none;
  background: linear-gradient(to right, hsl(176deg, 68%, 64%), hsl(198deg, 60%, 50%));
  font-size: 0.8em;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding: 1rem 5.875rem;
  border-radius: 1.875rem;
  color: hsl(0deg, 0%, 95%);
}
button:hover {
  background: linear-gradient(to left, hsl(176deg, 68%, 64%), hsl(198deg, 60%, 50%));
}

.header-container {
  background-color: hsl(217deg, 28%, 15%);
  display: grid;
  grid-template-columns: minmax(100px, 1fr) repeat(3, auto);
  gap: 1.5rem;
  align-items: center;
  padding: 1.5rem 1.875rem 1rem 1rem;
}
.header-container img {
  cursor: pointer;
  min-width: 4.75rem;
  max-width: 5.5rem;
}

a {
  font-size: 0.7em;
  color: hsla(0deg, 0%, 100%, 0.65);
  transition: color 200ms ease-in-out;
}
a:hover {
  color: hsl(340deg, 57%, 64%);
}

.intro-images {
  position: relative;
  background-color: hsl(217deg, 28%, 15%);
  height: max-content;
  width: 100%;
}
.intro-images img {
  display: block;
}

.intro__pic {
  position: relative;
  z-index: 2;
  padding: 2rem 2rem 6.5rem;
  width: 100%;
}

.intro__bg {
  position: absolute;
  z-index: 0;
  width: 100%;
  padding: 0;
  top: 15rem;
}

.intro-content {
  position: relative;
  z-index: 1;
  text-align: center;
  bottom: 6rem;
  padding: 0 0 3rem;
}
.intro-content p {
  padding: 0 2.75rem 1.4rem;
  font-size: 0.8em;
}

.intro__heading {
  position: relative;
  height: max-content;
  width: 100%;
  padding: 0 2rem;
  text-align: center;
  font-size: 1.4em;
}
.intro__heading h1 {
  position: relative;
  z-index: 2;
  text-align: center;
  font-size: 1.7em;
  line-height: 1.5;
}

.features {
  background-color: hsl(218deg, 28%, 13%);
  border: 2px solid blue;
  text-align: center;
}

.features__heading {
  font-size: 1em;
}

.features__text {
  padding: 0 2rem;
  font-size: 0.8em;
}

footer {
  margin: 0;
  padding: 0;
}

.attribution {
  margin: 0;
  padding: 0;
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228deg, 45%, 44%);
  text-decoration: none;
}
.attribution a:hover {
  color: hsl(340deg, 57%, 64%);
}