.articles {
    padding-top: 6rem;
    background-color: $veryLightGray;

    &__heading {
        text-align: center;
        padding-bottom: 2.5rem;
    }
}

.article {
        margin:0 auto;
        padding-bottom: 2rem;
        border-radius: 5%;

        & > * {
            margin: 0 2rem;

            &:not(:first-child) {
                background-color: $white;
            }
        }

        img {
            width: 100%;
        }

    &__author {

    }

    &__title {

    }

    &__text {
        
    }
    border: 1px solid yellowgreen;
}
