.articles {

    &__heading {
        text-align: center;
    }
}

.article {
        margin:0 auto;

        & > * {
            padding: 1rem 2rem;
        }

        img {
            width: 100%;
        }

    &__author {

    }

    &__title {

    }

    &__text {
        
    }
}
