.footer {
    display: grid;
    background-color: $darkBlue;
    text-align: center;

    &__logo {

        img {
            color: $white;   
        }
    }

    .button {
        margin-right: auto;
        margin-left: auto;
        max-width: 13rem;
    }
}

.attribution {
    background-color: $veryLightGray;
}
