.footer {
    display: grid;
    background-color: $darkBlue;
    text-align: center;

    @include breakpoint-up(large) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 3fr, 1fr 1fr;
    }

    &-block {

        &:nth-child(1) {

            @include breakpoint-up(medium) {
                padding-bottom: 2rem;
            }
        }

        &:nth-child(3) {

            @include breakpoint-up(medium) {
                padding-bottom: 3rem;
            }
        }

        //border: 1px solid slateblue;
    }

    &__logo {
        padding: 3rem 0;

        background-image: url("/images/logo.svg");
        background-repeat: no-repeat;
        background-position: center center;
        filter: saturate(150%) invert(25%);

        @include breakpoint-up(medium) {
            padding: 4rem 0;
        }

        @include breakpoint-up(large) {
            padding: 3rem 0;
        }
    }

    &__link {
        padding: 0.75rem 0;

        a {
            font-size: 0.875em;
            color: $white;
        }
    }

    .button {
        margin: 1rem auto 2rem;
        max-width: 13rem;
    }
}

.social {
    display: flex;
    width: 13rem;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 1rem;

    &__icons {
        width: 1.5rem;    }
} 

.copyright{
    font-size: 0.9em;
    padding-bottom: 3rem;

    @include breakpoint-up(medium) {
        padding-top: 5rem;
    }

    @include breakpoint-up(large) {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }
}
.attribution {
    background-color: $veryLightGray;
}

