.footer {
    display: grid;
    background-color: $darkBlue;
    text-align: center;

    &__logo {
        padding: 2rem 0;

        fill: none;
        stroke: pink;
        stroke-width: 1;
    }


    &__link {
        padding: 1rem 0;

        a {
            font-size: 1em;
            color: $white;
        }
    }

    .button {
        margin: 1rem auto 2rem;
        max-width: 13rem;
    }
}

.social {
    display: flex;
    width: 11rem;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 1rem;
} 

.copyright{
    font-size: 0.95em;
    padding-bottom: 3rem;
}
.attribution {
    background-color: $veryLightGray;
}

.svg {
    width: 10rem;
    background-image: url("/images/logo.svg");
    background-repeat: no-repeat;
    fill: url("#grad1");
}
