html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: $white;
    font-family: 'Public Sans', sans-serif;
    font-size: 1.125rem;
    color: $grayishBlue;
    line-height: 1.4;

    &.no-scroll {
        overflow: hidden;
    }
}

a, a:visited, a:hover {
    font-size: 0.875rem;
    text-decoration: none;
}

h1 {
    font-size: 2.25rem;
    font-weight: 300;
    color: $darkBlue;
}

p {
    font-size: 0.875rem;
}

// Spacing
.container-tb {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.container-rl {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

// Flexbox
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

// Buttons
.button {
    padding: 0.725rem 2rem;
    border-radius: 3.125rem;
    background: linear-gradient(to right, $limeGreen, $brightCyan);
    cursor: pointer;
    color: $white;
    font-weight: 700;
    transition: opacity 300ms ease-in-out;

    &:hover {
        opacity: 0.75;
    }
}


// Visibility for different viewport widths
.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}
