html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: $white;
    font-family: 'Public Sans', sans-serif;
    font-size: 1.125rem;
    color: $grayishBlue;
    line-height: 1.2;

    &.no-scroll {
        overflow: hidden;
    }
}

a,
a:visited,
a:hover {
    font-size: 0.825rem;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    color: $darkBlue;
}

h1,
h2,
h3,
h4,
h5
p {
    margin: 0px;
}

h1 {
    font-size: 2.25em;
    font-weight: 300;
}

h2 {
    font-size: 1.875em;
    font-weight: 300;
}

h3 {
    font-size: 1.75em;
    font-weight: 300;
}

h4 {
    font-size: 1.5em;
    font-weight: 300;
}

h5 {
    font-size: 1.2em;
    font-weight: 300;
}

p {
    font-size: 0.875em;

    @include breakpoint-up(large) {
        font-size: 1.125rem;
    }
}

// Spacing
.container {
    max-width: 90rem;
    margin: 0 auto;

    &--pall {
        padding: 2rem 1.5rem;
    }

    &--py {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    &--px {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    &--pt {
        padding-top: 2rem;
    }

    &--pr {
        padding-right: 1.5rem;
    }

    &--pb {
        padding-bottom: 2rem;
    }

    &--pl {
        padding-left: 1.5rem;
    }
}

// Flexbox
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

// Buttons
.button {
    display: inline block;
    padding: 0.875rem 2.1875rem;
    border-radius: 3.125rem;
    background: linear-gradient(to right, $limeGreen, $brightCyan);
    color: $white;
    font-size: 0.85em;
    font-weight: 400;
    transition: opacity 300ms ease-in-out;

    &:hover {
        opacity: 0.75;
    }
}


// Visibility for different viewport widths
.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}
