html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: $white;
    font-family: 'Public Sans', sans-serif;
    font-size: 1.125rem;
    color: $grayishBlue;
    line-height: 1.4;
}

a, a:visited, a:hover {
    font-size: 0.875rem;
    color: $grayishBlue;
    text-decoration: none;
}

// Flexbox
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

button, .button {
    padding: 1rem 1.875rem;
    border: none;
    border-radius: 3.125rem;
    background: linear-gradient(to right, $limeGreen, $brightCyan);
    cursor: pointer;
    color: $white;
}
