.header {

    &__logo {

        img {

        }
    }

    &__menu { 
        
        > span {
            display: block;
            width: 1rem;
            height: 0.125rem;
            background-color: $darkBlue;

        }
    }
}
