.header {
    background-color: $white;

    &__logo {

        img {

        }
    }

    &__menu { 
        
        > span {
            display: block;
            width: 1.75rem;
            height: 0.125rem;
            background-color: $darkBlue;

            &:not(:last-child) {
                margin-bottom: 0.375rem;
            }
        }
    }
}
