.hero {

    &__image {
        
    }

    &__text {
        background: linear-gradient(to left,  hsla(233, 7%, 24%, 0.35), transparent, transparent);
        text-align: right;

        h3 {
            margin-top: 460px;
        }
    }
}
