.hero {

    &__image {
        
    }

    &__text {
        background-image: linear-gradient(to left, $darkBlue, transparent);
        text-align: right;

        h2 {
            margin-top: 400px;
        }
    }
}
