.hero {

    &__image {
        
    }

    &__text {
        background: linear-gradient(315deg,  hsla(233, 7%, 24%, 0.35), transparent);
        text-align: right;

        h2 {
            margin-top: 400px;
        }
    }
}
