.showcase {
    background-color: $lightGrayishBlue;

    &-title {

        .title__heading {

        }
        
        .title__text {
        
        }
    }

    &-features {

        @include breakpoint-up(large) {
            display: flex;
        }

        .feature {

            @include breakpoint-up(large) {
                flex: 1;
            }

            &__icon {
    
            }
    
            &__heading {
    
            }
    
            &__text {
                
            }
        }
    }
}
