.showcase {
    background-color: $lightGrayishBlue;
    text-align: center;
    padding-top: 2rem;

    @include breakpoint-up(large) {
        padding-top: 6rem;
    }

    &-title {

        @include breakpoint-up(large) {
            text-align: left;
        }

        & > * {

            @include breakpoint-up(large) {
                padding-left: 2rem;
            }
        }

        .title__heading {
            line-height: 1.25;
        }
        
        .title__text {
            margin-top: 1rem;
            line-height: 1.6;
            max-width: 700px;
        }
        //border: 1px solid turquoise;
    }

    &-features {
        display: grid;
        row-gap: 1rem;

        & > * {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }

        @include breakpoint-up(medium) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint-up(large) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            padding-right: 4rem;
            padding-left: 2rem;
        }

        .feature {
            display: flex;
            flex-direction: column;
            align-items: center;

            &__icon {
                width: max-content;
                //border: 1px solid blueviolet;
            }
    
            &__heading {
                margin: 1.4rem 0;
                font-size: 1.15em;
                font-weight: 400;
                color: $darkBlue;
    
                h3 {
                    
                    padding-top: 1.5rem;
                    //border: 1px solid black;
                }
                //border: 1px solid hotpink;
            }
    
            &__text {
                margin: 0 1rem;
                font-size: 0.875em;
                line-height: 1.6;
                //border: 1px solid green;

                @include breakpoint-up(medium) {
                    padding: 0 1.5rem;
                }

                @include breakpoint-up(large) {
                    text-align: left;
                    margin-left: 0;
                    padding-left: 0;
                }
            }

            @include breakpoint-up(medium) {
                padding-right: 1rem;
                padding-left: 1rem;
            }

            @include breakpoint-up(large) {
                align-items: start;
                text-align: left;
            }
            
            //border: 1px solid blue;
        }
        
        //border: 1px solid green;
    }
}
