.has-fade {
  visibility: hidden;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 300ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-out {
  animation: fade-out 300ms ease-in-out forwards;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

.logostyle {
  font-family: Gruppo, sans-serif;
  color: hsl(9deg, 16%, 34%);
  font-size: 2rem;
}
.logostyle__2 {
  color: hsl(70deg, 69%, 35%);
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Public Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  color: hsl(197deg, 39%, 64%);
  line-height: 1.3;
  background-image: url("/images/459439.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 46.25rem;
}
body.noscroll {
  overflow: hidden;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.container {
  padding: 0px 1.5rem;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}

button, .button {
  padding: 0.75rem 1.5rem;
  background: linear-gradient(to right, hsl(9deg, 16%, 34%), hsl(70deg, 69%, 35%));
  border: 0;
  border-radius: 2.5rem;
  cursor: pointer;
  color: hsl(220deg, 16%, 96%);
  font-weight: 400;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  height: 74px;
  background: hsla(0deg, 4%, 72%, 0.3);
}
.header.open .header__toggle > span:first-child {
  transform: rotate(45deg);
}
.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}
.header.open .header__toggle > span:last-child {
  transform: rotate(-45deg);
}
.header .overlay {
  opacity: 0;
  position: fixed;
  top: 74px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: linear-gradient(hsl(0deg, 0%, 98%), transparent);
}
.header nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.header__logo img {
  width: 15rem;
  height: 1.5rem;
  padding-top: 0.1875rem;
}
.header__logo p {
  margin: 0;
  padding: 0;
}
.header__logo p:hover {
  color: lawngreen;
}
.header__logo p > span:hover {
  color: lawngreen;
}
.header__toggle > span {
  display: block;
  width: 1.5rem;
  height: 0.09375rem;
  background-color: hsl(9deg, 16%, 34%);
  transition: all 300ms ease-in-out;
  transform-origin: 0.1875rem 0.0625rem;
}
.header__toggle > span:not(last-child) {
  margin-bottom: 0.3125rem;
}
.header__menu {
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  transform: translateX(-50%);
  background: hsl(0deg, 0%, 100%);
  margin-top: 1.5rem;
  padding: 1.625rem;
  border-radius: 0.3125rem;
}
.header__menu a {
  display: block;
  padding: 0.625rem;
  color: hsl(9deg, 16%, 34%);
  text-align: center;
}
.header__menu a:hover {
  color: hsl(189deg, 22%, 18%);
}
.header__menu a:hover::before {
  opacity: 1;
}
.header__links a {
  position: relative;
  font-size: 1rem;
  font-weight: 400;
  color: hsl(9deg, 16%, 34%);
  transition: color 300ms ease-in-out;
}
.header__links a:not(:last-child) {
  margin-right: 2rem;
}
.header__links a::before {
  content: "";
  position: absolute;
  display: block;
  height: 0.3125rem;
  left: 0;
  right: 0;
  bottom: -1.875rem;
  background: linear-gradient(to right, hsl(9deg, 16%, 34%), hsl(70deg, 69%, 35%));
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.header__links a:hover {
  color: hsl(336deg, 43%, 15%);
}
.header__links a:hover::before {
  opacity: 1;
}
.header__cta {
  font-size: 0.875rem;
  color: hsl(0deg, 0%, 98%);
  transition: opacity 300ms ease-in-out;
}
.header__cta:hover {
  opacity: 0.75;
}

.hero__text {
  text-align: right;
}
.hero__text h2 {
  padding-top: 400px;
}