html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: hsl(0deg, 0%, 100%);
  font-family: "Public Sans", sans-serif;
  font-size: 1.125rem;
  color: hsl(220deg, 16%, 96%);
  line-height: 1.4;
}

a, a:visited, a:hover {
  font-size: 0.875rem;
  color: hsl(220deg, 16%, 96%);
  text-decoration: none;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}

.header {
  background-color: hsl(0deg, 0%, 100%);
  padding: 1.25rem;
  border: 2px solid blue;
}
.header__logo img {
  align-items: center;
}
.header__menu > span {
  display: block;
  width: 1.675rem;
  height: 0.1125rem;
  background-color: hsl(233deg, 26%, 24%);
}
.header__menu > span:not(:last-child) {
  margin-bottom: 0.225rem;
}