body {
    background-size: 100%;
    background-image: url('../images/image-2.jpg');
    background-repeat: no-repeat;
}

[class*="bg-dark"] {
    outline: 2px solid #337a52;
    background-image: url('../images/image-2.jpg');
    background-repeat: repeat;
}

.d-flex button {
    color: #ddecdb;
}

body #thumbs-container {
    display: flex;
    justify-content: space-between;
}

body #thumbs-container .thumb {
    width: 30%;

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

body #thumbs-container img {
    width: 30%;
    background-color: #ddecdb;

}

.footer {
    padding: 8px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-dark a {
    text-decoration: none;
}

.base-font {
    color: #337a52;
}

.base-dark-font {
    color: #104e2b;
}

.base-bright-font {
    color: #45f192;
}

.base-grey-font {
    color: #728472;
}

.grey-font {
    color: #535e56;
}

.base-white-font {
    color: #ddecdb;
}

.white-font {
    color: #ffffff;
}
