body #body-container {
    background-color: #ddecdb;

    display: flex;
}

body #thumbs-container {
    display: flex;
    justify-content: space-around;

}

body #thumbs-container .thumb {
    width: 30%;
    background-color: #a5c4a5;

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

body #thumbs-container img {
    width: 30%;
    background-color: #ddecdb;
}

.nav-item {
    color: #337a52;
}

.base-font {
    color: #337a52;
}

.base-bright-font {
    color: #32c390;
}

.base-grey-font {
    color: #a5c4a5;
}

.grey-font {
    color: #748379;
}

.base-white-font {
    color: #ddecdb;
}
