body .body-container {
    background-color: #a5c4a5;
}

body h4 {
    padding: 0px 0px 7px 0px;
}

.container-fluid image {
    margin: 0px 0px 0px 0px;
}

.nav-item {
    color: #337a52;
}

.base-font {
    color: #337a52;
}

.base-bright-font {
    color: #2d9f5e;
}

.base-grey-font {
    color: #a5c4a5;
}

.grey-font {
    color: #748379;
}

.base-white-font {
    color: #ddecdb;
}
