{% extends 'layout.html' %}
<!-- Head -->
{%block title%}<title>Build | {{ client_1 }}-{{ client_2 }}</title>{%endblock%}
<!-- Body -->
<!-- Header -->
<!-- Showcase -->
{%block showcase%}
<article class="sc-container">
    <div class="scroller">
        <h2>custom web environments</h2>
    </div>
    <div class="sc-box">
      <h3><strong>{{ client_1 }}</strong>{{ client_2 }}</h3>
      <h3></h3>
      <p>
        Flavoured dosage within the host can be juxtaposed at zenith by most quarks. Gee, Caz looks queerly much better in woven flax jodhpurs. Juggling fuzzy axial suction waves past quiet razorback mouthing. Mezcal might revoke jinxed alterations when fit nymphs quit all but reason. Pet jammy crazed dog before ok to wax ventriloquistic here. Poor vortex hedging of quizzicalities furiously blew my junk. Sex-crazed power quips fair galvanized the mock jury box.
      </p>
    </div>
</article>
{%endblock%}{%block content%}
<!-- Content -->
<!-- Thumbnails -->
<article class="tn-container">
    <div class="tn-box">
        <!-- .tn-box > *:nth-of-type(1) -->
        <section class="tn-heading">
            <h4><strong>Premium Services</strong></h4>
            <p></p>
        </section>
        <!-- .tn-box > *:nth-of-type(2) -->
        <section class="thumbnails">
            <!-- Thumbnail 1 -->
            <div class="thumbnail">
                <img src="static/images/image-17.jpg" alt="">
                <h4>Websites</h4>
                <h5>Design to Deployment</h5>
                <p>Click on image to go to Websites page.</p>
            </div>
            <!-- Thumbnail 2 -->
            <div class="thumbnail">
                <img src="static/images/image-17.jpg" alt="">
                <h4>Mobile Apps</h4>
                <h5>Tailored Solutions</h5>
                <p>Click on image to go to Apps page.</p>
            </div>
            <!-- Thumbnail 3 -->
            <div class="thumbnail">
                <img src="static/images/image-17.jpg" alt="">
                <h4>Maintenance & Updates</h4>
                <h5>Tech Support</h5>
                <p>Click on image to go to Tech page.</p>
            </div>
            <!-- Thumbnail 4 -->
            <div class="thumbnail">
                <img src="static/images/image-17.jpg" alt="">
                <h4>Hosting</h4>
                <h5>Domain Name</h5>
                <p>Click on image to go to Hosting page.</p>
            </div>
        </section>
    </div>
</article>
{%endblock%}
<!-- Footer -->
</div>
