{% extends 'layout.html' %}
<!-- Head -->
{%block title%}<title>Build | {{ client_1 }}-{{ client_2 }}</title>{%endblock%}
<!-- Body -->
<!-- Header -->
<!-- Showcase -->
{%block showcase%}
<article class="sc-container">
    <div class="sc-box">
      <h1 style="color: #b22222;">experience</h1>
      <h3><strong style="color: #45f192;">{{ client_1 }}</strong><strong style="color: #ccffcc;">{{ client_2 }}</strong></h3>
      <p style="color: #b22222;">
        Vortex rope hedging of quizzical connotations furiously blew my junk. Juggling fuzzy axial suction waves past quiet razorback mouthing. Flavoured dosage within the host can be juxtaposed at zenith by most quarks. Mezcal might revoke jinxed alterations when youthful nymphs quit all but reason. Pet jammy crazed dog before jokes wax ventriloquistic here. Gee, Baz looks better in woven flax jodhpurs queerly. Why sex-crazed power quips fairly galvanized the mock jury box.
      </p>
    </div>
</article>
{%endblock%}{%block content%}
<!-- Content -->
<!-- Thumbnails -->
<article class="tn-container">
    <div class="tn-box">
        <!-- .tn-box > *:nth-of-type(1) -->
        <section class="tn-heading">
            <h3>Tn Heading</h3>
            <p>which may or  MAY not require some explanation</p>
        </section>
        <!-- .tn-box > *:nth-of-type(2) -->
        <section class="thumbnails">
            <!-- Thumbnail 1 -->
            <div class="thumbnail">
                <img src="static/images/image-10.jpg" alt="">
                <h4>What</h4>
                <h>Where, How, When, Why, Who</h5>
                <p>Flavoured dosage within the host can be juxtaposed at zenith by most quarks.</p>
            </div>
            <!-- Thumbnail 2 -->
            <div class="thumbnail">
                <img src="static/images/image-10.jpg" alt="">
                <h4>What, Where, How, When, Why</h4>
                <h5>and If and other questions</h5>
                <p>Flavoured dosage within the host can be juxtaposed at zenith by most quarks.</p>
            </div>
            <!-- Thumbnail 3 -->
            <div class="thumbnail">
                <img src="static/images/image-10.jpg" alt="">
                <h4>What Huh</h4>
                <h5>Where, How, When, Why and If and other questions</h5>
                <p>Flavoured dosage within the host can be juxtaposed at zenith by most quarks.</p>
            </div>
            <!-- Thumbnail 4 -->
            <div class="thumbnail">
                <img src="static/images/image-10.jpg" alt="">
                <h4>What</h4>
                <h5>Where, How, When, Why</h5>
                <p>Flavoured dosage within the host can be juxtaposed at zenith by most quarks.</p>
            </div>
        </section>
    </div>
</article>
{%endblock%}
<!-- Footer -->
</div>
