{% extends 'layout.html' %}
<!-- Head -->
{%block title%}<title>Build | {{ client_1 }}-{{ client_2 }}</title>{%endblock%}
<!-- Body -->
<!-- Header -->
<!-- Showcase -->
{%block showcase%}
<section class="sc-container">
    <div class="sc-box">
      <h1 style="color: #ccffcc;">experience</h1>
      <h3><strong style="color: #45f192;">{{ client_1 }}</strong><strong style="color: #ccffcc;">{{ client_2 }}</strong></h3>
      <p style="color: #669999;">
        Nymphs might revoke jinxed altercations when facile omeprazole quits all
        but reason. Juggling fuzzy axial suction waves past quiet razorback
        mouthing. Vortex rope hedging of quizzical connotations furiously blew my
        junk.
      </p>
      <p style="color: #669999;">
        Flavoured dosage within the host can be juxtaposed at zenith by quark
        proximity. DJ axing flummoxxes vanguard when quiet back up shelter way.
      </p>
    </div>
  </section>
  {%endblock%}
<!-- Content -->
{%block content%}
<!-- Thumbnails -->
<article class="tn-container">
    <div class="tn-box">
        <!-- .tn-box > *:nth-of-type(1) -->
        <section class="tn-heading">
            <h3>Tn Heading</h3>
            <p>which may or  MAY not require some explanation</p>
        </section>
        <!-- .tn-box > *:nth-of-type(2) -->
        <section class="thumbnails">
            <!-- Thumbnail 1 -->
            <div class="thumbnail">
                <img src="static/images/image-10.jpg" alt="">
                <h5>What</h5>
                <p>Where, How, When, Why</p>
                <p>and If and other questions</p>
            </div>
            <!-- Thumbnail 2 -->
            <div class="thumbnail">
                <img src="static/images/image-10.jpg" alt="">
                <h5>What</h5>
                <p>Where, How, When, Why</p>
                <p>and If and other questions</p>
            </div>
            <!-- Thumbnail 3 -->
            <div class="thumbnail">
                <img src="static/images/image-10.jpg" alt="">
                <h5>What</h5>
                <p>Where, How, When, Why</p>
                <p>and If and other questions</p>
            </div>
            <!-- Thumbnail 4 -->
            <div class="thumbnail">
                <img src="static/images/image-10.jpg" alt="">
                <h5>What</h5>
                <p>Where, How, When, Why</p>
                <p>and If and other questions</p>
            </div>
        </section>
    </div>
</article>
{%endblock%}
<!-- Footer -->
<footer></footer>
</div>
