{% extends 'layout.html' %}{% block title %}<title>{{ client_1 }} | Home</title
>{%endblock%}{%block showcase%}
<section id="showcase">
  <div class="showcase-container">
    <h1 class="base-bright-font">{{ client_1 }}</h1>
    <p class="base-white-font">
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
      doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
      inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
      Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
      fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
      sequi nesciunt.
    </p>
    <p class="base-white-font">
      Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
      consectetur, adipisci velit, sed quia non numquam eius modi tempora
      incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad
      minima veniam, quis nostrum exercitationem ullam corporis suscipit
      laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum
      iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae
      consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
    </p>
  </div>
</section>
{%endblock%}{%block content %}
<!-- BODY CODE STARTS HERE -->
<div id="thumbs-container">
  <div class="thumb">
    <img
      src="{{ url_for('.static', filename='images/image-1.jpg')}}"
      class="img-thumbnail"
      alt="Thumbnail Image"
    />
    <h6>Website Development</h6>
    <p>Basic site for 3 grand with add-ons</p>
  </div>
  <div class="thumb">
    <img
      src="{{ url_for('.static', filename='images/image-2.jpg')}}"
      class="img-thumbnail"
      alt="Thumbnail Image"
    />
    <h6>Website Development</h6>
    <p>Basic site for 3 grand with add-ons</p>
  </div>
  <div class="thumb">
    <img
      src="{{ url_for('.static', filename='images/image-4.jpg')}}"
      class="img-thumbnail"
      alt="Thumbnail Image"
    />
    <h6>Website Development</h6>
    <p>Basic site for 3 grand with add-ons</p>
  </div>
</div>
<!-- BODY CODE ENDS HERE -->
{% endblock content %}
