{% extends 'layout.html' %}{% block title %}<title>{{ client_1 }} | Home</title
>{%endblock%}{%block showcase%}
<section id="showcase">
  <div class="showcase-container">
    <h1 class="base-white-font">experience</h1>
    <h3 class="base-bright-font">@{{ client_1 }}</h3>
    <p class="base-white-font">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer varius
      leo a purus lacinia cursus sed non metus. Donec malesuada, dolor non
      condimentum efficitur, arcu mi mattis nisi, sit amet auctor lectus ante ut
      purus. Nullam fermentum a augue et pellentesque. Maecenas vestibulum quis
      metus in sollicitudin. Cras a semper lorem. Donec nec velit fringilla odio
      imperdiet condimentum ut eu ipsum. Suspendisse malesuada dapibus neque.
      Pellentesque convallis interdum nisl quis malesuada. Suspendisse at diam
      auctor, vulputate est ut, fermentum lacus. Sed suscipit neque eu lectus
      pretium imperdiet. Aenean vehicula tempus erat a posuere. Aenean
      condimentum sollicitudin leo. Curabitur bibendum bibendum magna vel
      cursus.
    </p>
    <p class="base-white-font">
      Morbi efficitur eros eros, ut posuere neque facilisis a. Suspendisse non
      elementum magna, pretium efficitur ex. Nulla facilisi. Nunc sapien leo,
      accumsan eu vulputate eu, euismod sit amet urna. Sed accumsan nulla ac
      finibus suscipit. Aenean sit amet luctus metus. Nunc bibendum neque massa,
      in cursus enim tristique vitae.
    </p>
    <p class="base-white-font">
      Pellentesque vitae diam pretium, viverra augue sed, consectetur tortor.
      Phasellus non lorem ut tortor dapibus volutpat. Vivamus sed iaculis mi.
      Fusce hendrerit id nibh eu lacinia. Orci varius natoque penatibus et
      magnis dis parturient montes, nascetur ridiculus mus. Quisque sit amet
      eros nulla. Cras cursus aliquam justo, ut sagittis ipsum efficitur sit
      amet. Quisque tincidunt justo sed aliquet commodo. Donec eleifend est id
      eros porttitor, nec viverra nunc venenatis. Fusce lorem sapien, maximus
      sit amet dolor ut, porttitor malesuada nunc. Vivamus at sem ullamcorper
      diam tristique facilisis quis ut sem. Aenean ut convallis dolor. Curabitur
      sapien velit, porta a iaculis eu, aliquam vel nisl. Nunc mauris quam,
      laoreet vitae aliquet a, bibendum sed urna. Duis at nulla et odio
      vestibulum aliquam.
    </p>
    <p class="base-white-font">
      Curabitur elementum porttitor tincidunt. Quisque nulla nulla, blandit et
      dignissim rhoncus, dictum nec sapien. Ut neque enim, posuere vel ex nec,
      fringilla venenatis purus. Etiam semper diam est, ut tempus lacus eleifend
      et. Proin consectetur sollicitudin eros, vitae dignissim orci. Praesent
      congue dignissim erat, ut aliquet purus congue vel. Sed mattis mollis
      blandit. Nullam magna turpis, vestibulum ultrices rutrum vitae, pulvinar
      eu orci.
    </p>
    <p class="base-white-font">
      Aenean pulvinar sit amet justo porta fringilla. Suspendisse eget accumsan
      nunc. Vivamus a dolor accumsan, malesuada tellus at, tristique arcu. Sed
      lacinia at lacus quis convallis. Etiam euismod erat sed placerat accumsan.
      Etiam eu magna nec felis dictum rhoncus. In sodales, ligula ac suscipit
      convallis, odio justo eleifend est, eget aliquet augue enim vitae ligula.
      Duis viverra metus a dolor feugiat mattis. Fusce fermentum maximus elit,
      condimentum blandit odio volutpat ac. Phasellus ac sodales tellus. Vivamus
      et vehicula tellus. Aenean iaculis est nec tincidunt convallis. Aliquam
      ligula nibh, congue ullamcorper aliquet ac, iaculis at est. Integer quis
      risus et mi dictum placerat. Sed feugiat cursus dui quis congue.
      Pellentesque molestie cursus viverra.
    </p>
  </div>
</section>
{%endblock%}{%block content %}
<!-- BODY CODE STARTS HERE -->
<div id="thumbs-container">
  <div class="thumb">
    <h6 class="base-grey-font">Website Development</h6>
    <img
      src="{{ url_for('.static', filename='images/image-1.jpg')}}"
      class="img-thumbnail"
      alt="Thumbnail Image"
    />
    <p class="base-white-font">
      Et harum quidem rerum facilis est et expedita distinctio.
    </p>
  </div>
  <div class="thumb">
    <h6 class="base-grey-font">Website Development</h6>
    <img
      src="{{ url_for('.static', filename='images/image-3.jpg')}}"
      class="img-thumbnail"
      alt="Thumbnail Image"
    />
    <p class="base-white-font">
      Quisque sagittis dolor congue elit malesuada convallis.
    </p>
  </div>
  <div class="thumb">
    <h6 class="base-grey-font">Website Development</h6>
    <img
      src="{{ url_for('.static', filename='images/image-4.jpg')}}"
      class="img-thumbnail"
      alt="Thumbnail Image"
    />
    <p class="base-white-font">
      Duis vehicula tempus turpis, aliquet finibus sem volutpat.
    </p>
  </div>
</div>
<!-- BODY CODE ENDS HERE -->
{%endblock%}
