{% extends 'layout.html' %}{% block title %}Home page{% endblock title %}{%block
content %}
<h5>Home page</h5>
<img
  src="{{ url_for('.static', filename='images/image-4.jpg')}}"
  class="img-fluid"
  alt="Background Image"
></img>
<div class="thumbs-container">
  <div class="thumb">
    <img
        src="{{ url_for('.static', filename='images/image-1.jpg')}}"
        class="img-thumbnail"
        alt="Thumbnail Image"
    />
    <h6>Website Development</h6>
    <p>Basic site for 3 grand with terrific add-ons</p>
  </div>
  <div class="thumb">
    <img
        src="{{ url_for('.static', filename='images/image-2.jpg')}}"
        class="img-thumbnail"
        alt="Thumbnail Image"
    />
    <h6>Website Development</h6>
    <p>Basic site for 3 grand with terrific add-ons</p>
  </div>
  <div class="thumb">
    <img
        src="{{ url_for('.static', filename='images/image-3.jpg')}}"
        class="img-thumbnail"
        alt="Thumbnail Image"
    />
    <h6>Website Development</h6>
    <p>Basic site for 3 grand with terrific add-ons</p>
  </div>
</div>
{% endblock content %}
