{% extends 'layout.html' %}
<!-- Head -->
{%block title%}<title>Test | {{ client_1 }}-{{ client_2 }}</title>{%endblock%}
<!-- Body -->
<!-- Header -->
<!-- Showcase -->
{%block showcase%}
<article class="box">
    <div class="box1">x</div>
    <div class="box2">x</div>
    <div class="box3">x</div>
    <div class="box4">x</div>
    <div class="box5">x</div>
    <div class="box6">x</div>
    <div class="box7">x</div>
    <div class="box8">x</div>
    <div class="box9">x</div>
</article>
{%endblock%}
<!-- Content -->
{%block content%}
<!-- Thumbnails -->
{%endblock%}
<!-- Footer -->
<footer></footer>
</div>
