{% extends 'layout.html' %}
<!-- Head -->
{%block title%}<title>Test | {{ client_1 }}</title>{%endblock%}
<!-- Body -->
<!-- Header -->
<!-- Showcase -->
{%block showcase%}
<div class="showcase-test">
  <section style="outline: 2px solid yellow;">
    <h1>This is the main content area of the page</h1>
    <p>
      Donec quis gravida leo. Aenean dignissim eget velit vulputate commodo.
      Praesent dictum libero id massa molestie porttitor. Aliquam iaculis
      iaculis leo ac pulvinar.
    </p>
    <p>
      Duis eu viverra tortor, vitae sagittis elit. Sed suscipit malesuada felis
      hendrerit gravida. Phasellus quis turpis sem. Vivamus rutrum nunc elit.
      Vestibulum ut mi arcu.
    </p>
  </section>
  <aside style="outline: 2px solid red;">
    <h2>Sidebar heading</h2>
    <ol>
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
    </ol>
  </aside>
</div>
  {%endblock%}
  <!-- Content -->
  {%block content%}
  <!-- Thumbnails -->
  {%endblock%}
  <!-- Footer -->
  <footer></footer>
</div>
