{% extends 'layout.html' %}{%block title%}<title>Test | {{ client_1 }}</title
>{%endblock%} {%block showcase%}
<section class="showcase">
  <div class="showcase-container">
    <div class="box">
      <h1 class="base-white-font">experience</h1>
    </div>
    <div class="box">
      <h3 class="base-bright-font">@{{ client_1 }}</h3>
    </div>
    <div class="box">
      <h5 class="base-white-font">
        Morbi efficitur eros eros, ut posuere neque facilisis. Suspendisse non
        elementum magna, pretium efficitur ex. Nulla func sapien leo, accumsan
        vitae.
      </h5>
    </div>
  </div>
</section>
{%endblock%}
