.has-fade {
  visibility: hidden;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 200ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: hidden;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-out {
  animation: fade-out 200ms ease-in-out forwards;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: hsl(0deg, 0%, 100%);
  font-family: "Public Sans", sans-serif;
  font-size: 1.125rem;
  color: hsl(233deg, 8%, 62%);
  line-height: 1.2;
}
body.no-scroll {
  overflow: hidden;
}

a,
a:visited,
a:hover {
  font-size: 0.825rem;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  color: hsl(233deg, 26%, 24%);
}

h1,
h2,
h3,
h4,
h5 p {
  margin: 0px;
}

h1 {
  font-size: 2.25em;
  font-weight: 300;
}

h2 {
  font-size: 1.875em;
  font-weight: 300;
}

h3 {
  font-size: 1.75em;
  font-weight: 300;
}

h4 {
  font-size: 1.5em;
  font-weight: 300;
}

h5 {
  font-size: 1.2em;
  font-weight: 300;
}

p {
  font-size: 0.875em;
}
@media (min-width: 64em) {
  p {
    font-size: 1.125rem;
  }
}

.container {
  max-width: 90rem;
  margin: 0 auto;
}
.container--pall {
  padding: 2rem 1.5rem;
}
.container--py {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.container--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.container--pt {
  padding-top: 2rem;
}
.container--pr {
  padding-right: 1.5rem;
}
.container--pb {
  padding-bottom: 2rem;
}
.container--pl {
  padding-left: 1.5rem;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}

.button {
  display: inline block;
  padding: 0.875rem 2.1875rem;
  border-radius: 3.125rem;
  background: linear-gradient(to right, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
  color: hsl(0deg, 0%, 100%);
  font-size: 0.85em;
  font-weight: 400;
  transition: opacity 300ms ease-in-out;
}
.button:hover {
  opacity: 0.75;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  position: relative;
  margin: 0;
  background-color: hsl(0deg, 0%, 100%);
}
.header nav {
  position: relative;
  background-color: hsl(0deg, 0%, 100%);
  padding-top: 1.25rem;
  padding-bottom: 1.0625rem;
}
@media (min-width: 64em) {
  .header nav {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}
.header.open .header__toggle > span:first-child {
  transform: rotate(45deg);
}
.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}
.header.open .header__toggle > span:last-child {
  transform: rotate(-45deg);
}
.header .overlay {
  position: fixed;
  z-index: 1;
  opacity: 0;
  top: 3.75rem;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(hsl(233deg, 26%, 24%), transparent);
}
.header__logo img {
  align-items: center;
}
.header__toggle > span {
  display: block;
  width: 1.5rem;
  height: 0.1rem;
  background-color: hsl(233deg, 26%, 24%);
  transition: all 300ms ease-in-out;
  transform-origin: 0.28125rem 0.0625rem;
}
.header__toggle > span:not(:last-child) {
  margin-bottom: 0.2125rem;
}
.header__menu {
  position: absolute;
  z-index: 2;
  width: calc(100% - 3rem);
  left: 50%;
  transform: translateX(-50%);
  background: hsl(0deg, 0%, 100%);
  margin-top: 1.5rem;
  padding: 1.625rem;
  border-radius: 0.3175rem;
}
.header__menu a {
  display: block;
  padding: 0.625rem;
  color: hsl(233deg, 26%, 24%);
  text-align: center;
  font-size: 1.25rem;
}
.header__links a {
  position: relative;
  color: hsl(233deg, 8%, 62%);
  transition: color 300ms ease-in-out;
}
.header__links a:not(:last-child) {
  margin-right: 1.5rem;
}
.header__links a::before {
  content: "";
  display: block;
  position: absolute;
  height: 0.3125rem;
  right: 0;
  left: 0;
  bottom: -1.875rem;
  background: linear-gradient(to right, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.header__links a:hover {
  color: hsl(233deg, 26%, 24%);
}
.header__links a:hover::before {
  opacity: 1;
}

.intro {
  background-color: hsl(0deg, 0%, 98%);
  padding-bottom: 1rem;
}
@media (min-width: 64em) {
  .intro {
    display: flex;
    align-items: center;
  }
}
.intro__images {
  position: relative;
  background-image: url("/images/bg-intro-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;
  min-height: 24rem;
}
@media (min-width: 40em) {
  .intro__images {
    background-position: center 70%;
    min-height: 30rem;
  }
}
@media (min-width: 64em) {
  .intro__images {
    flex: 3;
    order: 2;
    height: 41rem;
    background-image: none;
  }
}
.intro__images::before {
  content: "";
  position: absolute;
  height: 100%;
  background-image: url("/images/bg-intro-desktop.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
}
@media (min-width: 64em) {
  .intro__images::before {
    width: 150%;
    background-position: 20% 175%;
  }
}
.intro__images::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 84%;
  background-image: url("/images/image-mockups.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center bottom;
}
@media (min-width: 40em) {
  .intro__images::after {
    height: 100%;
    background-size: 90%;
  }
}
@media (min-width: 64em) {
  .intro__images::after {
    height: 130%;
    background-size: cover;
    left: 20%;
  }
}
.intro__text {
  margin-top: -3rem;
  padding-top: 0;
  text-align: center;
  padding-bottom: 6rem;
}
@media (min-width: 40em) {
  .intro__text {
    margin-top: 0;
  }
}
@media (min-width: 64em) {
  .intro__text {
    flex: 2;
    order: 1;
    text-align: left;
  }
}
.intro__text h1 {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-weight: 300;
}
@media (min-width: 40em) {
  .intro__text h1 {
    padding: 1rem;
  }
}
@media (min-width: 64em) {
  .intro__text h1 {
    padding-left: 3rem;
    font-size: 3.5rem;
  }
}
.intro__text p {
  line-height: 1.65;
  padding-top: 0.75rem;
  margin-bottom: 3rem;
}
@media (min-width: 40em) {
  .intro__text p {
    padding-bottom: 1rem;
    padding-inline: 2rem;
  }
}
@media (min-width: 64em) {
  .intro__text p {
    padding-left: 3rem;
  }
}
@media (min-width: 64em) {
  .intro__text a {
    margin-left: 3rem;
  }
}

.showcase {
  background-color: hsl(220deg, 16%, 96%);
  text-align: center;
  padding-top: 2rem;
}
@media (min-width: 64em) {
  .showcase {
    padding-top: 6rem;
  }
}
@media (min-width: 64em) {
  .showcase-title {
    text-align: left;
  }
}
@media (min-width: 64em) {
  .showcase-title > * {
    padding-left: 2rem;
  }
}
.showcase-title .title__heading {
  line-height: 1.25;
}
.showcase-title .title__text {
  margin-top: 1rem;
  line-height: 1.6;
  max-width: 700px;
}
.showcase-features {
  display: grid;
  row-gap: 1rem;
}
.showcase-features > * {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 40em) {
  .showcase-features {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 64em) {
  .showcase-features {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-right: 4rem;
    padding-left: 2rem;
  }
}
.showcase-features .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.showcase-features .feature__icon {
  width: max-content;
}
.showcase-features .feature__heading {
  margin: 1.4rem 0;
  font-size: 1.15em;
  font-weight: 400;
  color: hsl(233deg, 26%, 24%);
}
.showcase-features .feature__heading h3 {
  padding-top: 1.5rem;
}
.showcase-features .feature__text {
  margin: 0 1rem;
  font-size: 0.875em;
  line-height: 1.6;
}
@media (min-width: 40em) {
  .showcase-features .feature__text {
    padding: 0 1.5rem;
  }
}
@media (min-width: 64em) {
  .showcase-features .feature__text {
    text-align: left;
    margin-left: 0;
    padding-left: 0;
  }
}
@media (min-width: 40em) {
  .showcase-features .feature {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
@media (min-width: 64em) {
  .showcase-features .feature {
    align-items: start;
    text-align: left;
  }
}

.articles {
  padding-top: 6rem;
  background-color: hsl(0deg, 0%, 98%);
}
.articles__heading {
  text-align: center;
  padding-bottom: 2.5rem;
}
@media (min-width: 64em) {
  .articles__heading {
    padding-left: 2rem;
    text-align: left;
  }
}

@media (min-width: 40em) {
  .article-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 64em) {
  .article-container {
    grid-template-columns: repeat(4, 1fr);
    padding-right: 5.5rem;
  }
}

.article {
  margin: 0 2rem;
  padding-bottom: 2rem;
}
.article > *:not(:first-child) {
  background-color: hsl(0deg, 0%, 100%);
}
.article__image-01 {
  width: 100%;
  height: 200px;
  background-size: cover;
  content: "";
  background-image: url("/images/image-currency.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 5px 5px 0 0;
}
.article__image-02 {
  width: 100%;
  height: 200px;
  background-size: cover;
  content: "";
  background-image: url("/images/image-restaurant.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 5px 5px 0 0;
}
.article__image-03 {
  width: 100%;
  height: 200px;
  background-size: cover;
  content: "";
  background-image: url("/images/image-plane.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 5px 5px 0 0;
}
.article__image-04 {
  width: 100%;
  height: 200px;
  background-size: cover;
  content: "";
  background-image: url("/images/image-confetti.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 5px 5px 0 0;
}
.article__author {
  padding: 2rem 2rem 1rem;
  font-size: 0.75em;
}
.article__title {
  padding-inline: 2rem;
  color: hsl(233deg, 26%, 24%);
  font-weight: 400;
}
.article__text {
  padding: 1rem 2rem;
  font-size: 0.875em;
  border-radius: 0 0 5px 5px;
}

.footer {
  display: grid;
  background-color: hsl(233deg, 26%, 24%);
  text-align: center;
}
@media (min-width: 64em) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr, 1fr 1fr;
  }
}
@media (min-width: 40em) {
  .footer-block:nth-child(1) {
    padding-bottom: 2rem;
  }
}
@media (min-width: 40em) {
  .footer-block:nth-child(3) {
    padding-bottom: 3rem;
  }
}
.footer__logo {
  padding: 3rem 0;
  background-image: url("/images/logo.svg");
  background-repeat: no-repeat;
  background-position: center center;
  filter: saturate(150%) invert(25%);
}
@media (min-width: 40em) {
  .footer__logo {
    padding: 4rem 0;
  }
}
@media (min-width: 64em) {
  .footer__logo {
    padding: 3rem 0;
  }
}
.footer__link {
  padding: 0.75rem 0;
}
.footer__link a {
  font-size: 0.875em;
  color: hsl(0deg, 0%, 100%);
}
.footer .button {
  margin: 1rem auto 2rem;
  max-width: 13rem;
}

.social {
  display: flex;
  width: 13rem;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 1rem;
}
.social__icons {
  width: 1.5rem;
}

.copyright {
  font-size: 0.9em;
  padding-bottom: 3rem;
}
@media (min-width: 40em) {
  .copyright {
    padding-top: 5rem;
  }
}
@media (min-width: 64em) {
  .copyright {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
}

.attribution {
  background-color: hsl(0deg, 0%, 98%);
}